@page
@model ServiceHost.Pages.EditorProfilePlansModel
@{
    ViewData["Title"] = "پلن ها";

}

<div class="position-absolute top-0 start-0 w-100 bg-dark" style="height: 398px;"></div>
<div class="container content-overlay mt-5 mb-md-4 py-5">
    <!-- Breadcrumb-->
    <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-light">
            <li class="breadcrumb-item"><a asp-page="./Index">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">تنظیمات پروفایل من</li>
        </ol>
    </nav>
    <!-- Page card like wrapper-->
    <div class="bg-light shadow-sm rounded-3 p-4 p-md-5 mb-2">
        <!-- Account header-->
        <div class="d-flex align-items-start justify-content-between pb-4 mb-2">
            <div class="d-flex align-items-start">
                <div class="position-relative flex-shrink-0">
                    <img class="rounded-circle" src="~/UploadedFiles/@Model.PersonalPageViewModel.Picture" width="100">
                    <a class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm position-absolute start-0 bottom-0" asp-page="./ResumeReview" data-bs-toggle="tooltip" title="تغییر تصویر"><i class="fi-pencil fs-xs"></i></a>
                </div>
                <div class="pe-3 pe-sm-4">
                    <h3 class="h5">@Model.PersonalPageViewModel.FullName</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li class="d-flex text-nav text-break"><i class="fi-mail opacity-60 mt-1 me-2"></i><span>@Model.AccountQueryModel.Email</span></li>
                    </ul>
                </div>
            </div><a class="nav-link p-0 d-none d-md-block" asp-page="./Login" asp-page-handler="Logout"><i class="fi-logout mt-n1 me-2"></i>خروج</a>
        </div>
        <!-- Account menu--><a class="btn btn-outline-primary btn-lg rounded-pill w-100 d-md-none" href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>منو پروفایل من</a>
        <div class="collapse d-md-block" id="account-nav">
            <ul class="nav nav-pills flex-column flex-md-row pt-3 pt-md-0 pb-md-4 border-bottom-md">
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./EditorProfile" aria-current="page"><i class="fi-settings mt-n1 me-2 fs-base"></i>تنظیمات پروفایل من</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./AddPortfolio"><i class="fi-cloud-upload mt-n1 me-2 fs-base"></i>نمونه کار های من</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./AddJobHistory"><i class="fi-user-check mt-n1 me-2 fs-base"></i>سابقه کاری</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./AddSkill"><i class="fi-education mt-n1 me-2 fs-base"></i>مهارت ها</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./EditorProfileProjectOffers"><i class="fi-send mt-n1 me-2 fs-base"></i>درخواست ها</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./EditorProfileJobOffers"><i class="fi-cup mt-n1 me-2 fs-base"></i>پیشنهاد های کاری</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link" asp-page="./BusinessChat"><i class="fi-chat-right mt-n1 me-2 fs-base"></i>پیام های کاری</a></li>
                <li class="nav-item mb-md-0 ms-md-2 ps-md-1"><a class="nav-link active" asp-page="./EditorProfilePlans"><i class="fi-gift mt-n1 me-2 fs-base"></i>پلن ها</a></li>
                <li class="nav-item mb-md-0 mt-2"><a class="nav-link" asp-page="./EditorProfileWallet"><i class="fi-wallet mt-n1 me-2 fs-base"></i>کیف پول</a></li>
                <li class="nav-item d-md-none"><a class="nav-link" asp-page="./Login" asp-page-handler="Logout"><i class="fi-logout mt-n1 me-2 fs-base"></i>خروج</a></li>
            </ul>
        </div>

        <!-- Page title-->
        <div class="d-flex align-items-center  justify-content-between py-4 mt-3 mb-2">
            <h1 class="h4 mb-0 font-vazir">پلن فعال شما</h1>
        </div>
        <!-- Grid-->
        <div class="row g-2 g-md-4">

            <div class="col-md-3">
                <a href="#" class=" icon-box card card-body border-0 shadow-lg card-hover text-center">
                    <div class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                        <i class="fi-calendar"></i>
                    </div>
                    <h3 class="icon-box-title fs-base mb-0"> روز های باقی مانده : @Model.PersonalPageViewModel.PlanExpireDays</h3>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" class=" icon-box card card-body border-0 shadow-lg card-hover text-center">
                    <div class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                        <i class="fi-spa"></i>
                    </div>
                    <h3 class="icon-box-title fs-base mb-0">پیشنهاد های ویژه : @Model.PersonalPageViewModel.PlanVipProjectOfferCount</h3>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class=" icon-box card card-body border-0 shadow-lg card-hover text-center">
                    <div class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                        <i class="fi-chat-left"></i>
                    </div>
                    <h3 class="icon-box-title fs-base mb-0">حجم اپلود فایل در چت : @Model.PersonalPageViewModel.PlanChatUploadSizeLimitGB گیگابایت</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class=" icon-box card card-body border-0 shadow-lg card-hover text-center">
                    <div class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                        <i class="fi-cloud-upload"></i>
                    </div>
                    <h3 class="icon-box-title fs-base mb-0">حجم اپلود فایل نمونه کار : @Model.PersonalPageViewModel.PlanPortfolioUploadSizeLimitMB مگابایت</h3>
                </a>
            </div>

        </div>
        <hr class="mt-5" />
        <!-- Page title-->
        <div class="d-flex align-items-center  justify-content-between py-4 mt-3 mb-2">
            <h1 class="h4 mb-0 font-vazir">خرید پلن</h1>
        </div>
        <!-- Grid-->
        <div class="row g-2 g-md-4">

            <!-- Item-->
            @foreach (var plan in Model.EditorPlans)
            {
                <div class="card shadow col-lg-4 mb-4 ">
                    <form method="post" asp-page-handler="Pay">
                        <div class="card-body">
                            <img class="d-block mx-auto mt-2 mb-4" src="~/MainTheme/img/pricing/icon-2.svg" width="72" alt="Icon">
                            <h2 class="h5 fw-normal text-center py-1 mb-0">@plan.Title</h2>
                            <div class="d-flex align-items-end justify-content-center mb-4">
                                <div class="h4 mb-0">@plan.Price تومان</div>
                                <div class="pb-2 ps-2">/@plan.ExpireDays روز</div>
                            </div>
                            <div class="d-block mb-0 mx-auto">
                                @Html.Raw(plan.Description)
                            </div>
                        </div>
                        <div class="card-footer py-2 border-0">
                            <input type="hidden" id="planId" name="planId" value="@plan.Id" />
                            <div class="border-top text-center pt-4 pb-3"><button class="btn btn-primary rounded-pill" type="submit">خرید پلن</button></div>
                        </div>
                    </form>
                </div>

            }

        </div>
    </div>
</div>