@page
@model ServiceHost.Pages.EmployerPageJobOffersModel
@{
    ViewData["Title"] = "پیشنهاد ارسال شده";

}
<div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
        <!-- Breadcrumb-->
        <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a asp-page="./Index">خانه</a></li>
                <li class="breadcrumb-item"><a asp-page="./EmployerPage">اکانت من</a></li>
                <li class="breadcrumb-item active" aria-current="page">اطلاعات فردی</li>
            </ol>
        </nav>
        <!-- Page content-->
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
                <!-- Account nav-->
                <div class="card card-body card-light border-0 shadow-sm pb-1 me-lg-1">
                    <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4">
                        <img class="rounded-circle" src="~/UploadedFiles/@Model.EmployerPageViewModel.Picture" width="48">
                        <div class="pt-md-2 pt-lg-0 pe-3 pe-md-0 pe-lg-3">
                            <h2 class="fs-lg text-light mb-0 fw-500">@Model.EmployerPageViewModel.FullName</h2>
                            <ul class="list-unstyled fs-sm mt-3 mb-0">
                                <li><a class="nav-link-light fw-normal"><i class="fi-folder opacity-60 me-2"></i>@Model.EmployerPageViewModel.CreationDate</a></li>
                            </ul>
                        </div>
                    </div><a class="btn btn-primary btn-lg w-100 mb-3" asp-page="./AddProject"><i class="fi-plus me-2"></i>ثبت پروژه</a>
                    <a class="btn btn-outline-light d-block d-md-none w-100 mb-3" href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>منو</a>
                    <div class="collapse d-md-block mt-3" id="account-nav">
                        <div class="card-nav">
                            <a class="card-nav-link" asp-page="./EmployerPage" asp-page-handler="Validate"><i class="fi-user me-2"></i>اطلاعات فردی</a>
                            <a class="card-nav-link" asp-page="./EmployerPageProjects"><i class="fi-video me-2"></i>پروژه ها</a>
                            <a class="card-nav-link" asp-page="./BusinessChat"><i class="fi-chat-right me-2"></i> پیام های کاری</a>
                            <a class="card-nav-link active" asp-page="./EmployerPageJobOffers"><i class="fi-alarm me-2"></i>پیشنهاد های ارسال شده</a>
                            <a class="card-nav-link" asp-page="./EmployerPageWallet"><i class="fi-wallet me-2"></i>کیف پول</a>
                            <a class="card-nav-link" asp-page="./Login" asp-page-handler="Logout"><i class="fi-logout me-2"></i>خروج</a>
                        </div>
                    </div>
                </div>
            </aside>

        <!-- Content-->
        <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h4 font-vazir text-light">پیشنهاد های کاری </h1>
            <div class="row">
                @foreach (var offer in Model.JobOffers)
                {
                    <div class="col-lg-6 pt-2">
                        <div class="card bg-secondary card-hover mb-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start mb-2">
                                    <div class="d-flex align-items-center"><img class="me-2 rounded" src="~/UploadedFiles/@offer.EditorPicture" width="24"><span class="fs-sm text-dark opacity-80 px-1">@offer.EditorName</span></div>
                                </div>

                                <h3 class="h6 card-title pt-1 mb-3"><a class="text-nav stretched-link text-decoration-none" asp-page="./EditorPage" asp-route-id="@offer.EditorSlug">@offer.Title</a></h3>
                                <div><a class="text-nav stretched-link text-decoration-none" asp-page="./EditorPage" asp-route-id="@offer.EditorSlug"><p>@offer.Description</p></a></div>
                                <div class="fs-sm">
                                    <span class="text-nowrap me-3"><i class="fi-cash fs-base text-muted ms-1"></i>@offer.Price تومان</span>
                                    <span class="text-nowrap me-3"><i class="fi-info-circle fs-base text-muted ms-1"></i>@(offer.IsAccept ? "پذیرفته شده" : (offer.IsCancel ? "رد شده" : "در انتظار"))</span>
                                    @if (offer.IsAccept)
                                    {
                                        <a class="btn btn-primary content-overlay" asp-page="./BusinessChat">پیام<i class="fi-arrow-left me-1"></i></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
